@media(max-width:1400px){
    .img-wrapper img{
        height: 350px !important;
    }
}
@media(max-width:1200px){
    .img-wrapper img{
        height: 300px !important;
    }
}
@media(max-width:992px){
    .img-wrapper img{
        height: 300px !important;
    }
    .navbar-light .navbar-toggler-icon{
        /* color: #fff !important; */
        background-color: #fff !important;
        border-radius: 10px !important;
        padding: 5px;
    }
}
@media(max-width:768px){
    .img-wrapper img{
        height: 250px !important;
    }
}
@media(max-width:576px){
    .img-wrapper img{
        height: 200px !important;
    }
    .sociale{
        justify-content: center;
    }
    .img-wrapper .overlay-infos h4,a,p{
        font-size: 12px;
    }
}